<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

<h1>Team Name: <%="#{@team_name_}"%></h1>
<h2>Coach: <%="#{@coach_}"%></h2>
<h2>Point Guard: <%="#{@point_guard_}"%></h2>
<h2>Shooting Guard: <%="#{@sho_guard_}"%></h2>
<h2>Small Forward: <%="#{@sm_forward_}"%></h2>
<h2>Power Forward: <%="#{@power_forward_}"%></h2>
<h2>Center: <%="#{@center_}"%></h2>

 </body>
</html>
